.league-header > h2{
  background-color: aliceblue;
  text-align: left;
  justify-self: flex-start;
}
.match-card{
  display: flex;
  flex-direction: column;
  background-color: #abff84;
  padding: 16px 26px;
  width: 90%;
  border-radius: 12px;
}

.home-team,
.away-team{
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 12px;
  text-align: center;

}

.home-team img,
.away-team img{
  height: 60px; 
}

.home-team img,
.away-team img{
  height: 60px; 
}

.team-name{
  justify-self: center;
  font-weight: 700;

}