.league-header > h2{
  background-color: aliceblue;
}
.match-card{
  display: flex;
  flex-direction: column;
  background-color: #abff84;
  padding: 16px 26px;
  width: 90%;
  border-radius: 12px;
}

.home-team,
.away-team{
  padding-right: 24px;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 12px;
  text-align: center;

}

.home-team img,
.away-team img{
  width: 60px; 
}

.team-name{
  justify-self: center;
  font-weight: 600;
  font-size: 1rem;
}

.team-score{
  margin-left: auto;
  font-weight: 800;
  font-size: 1.2rem;
}