#matches-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#matches-list li {
  background-color: #f18f8f;
  width: clamp(300px, 100%, 1000px);
  height: clamp(100px, 100%, 100px);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(20px, 100%, 100px);
}
#matches-list li img {

  width: 50px;
  height: 50px;
}
/* #matches-list li div {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 100%, 100px);
} */
#teams-logos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#teams {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#goals {
  display: flex;
  text-align: right;
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
}